{% extends 'admin_index.html'  %}
{% block body %}

<form id="form1" name="form1" method="post" action="">
<table class="table table- bordered">
  <tr>
    <th scope="col">Sl no</th>
    <th scope="col">Date</th>
    <th scope="col">Student name</th>
    <th scope="col">Class</th>
    <th scope="col">Batch</th>
    <th scope="col">Email</th>

    <th scope="col">Feedback</th>
  </tr>

    {% for i in data %}

  <tr>
    <td width="50px">{{ forloop.counter }}&nbsp;</td>
    <td>&nbsp;{{ i.date }}</td>
    <td>{{ i.STUDENT.studentname }}&nbsp;</td>

    <td>{{ i.STUDENT.BATCH.CLASS.classname }}&nbsp;</td>
     <td>{{ i.STUDENT.BATCH.batchname }}&nbsp;</td>
    <td>&nbsp;{{ i.STUDENT.email }}</td>
    <td>{{ i.feedback }}</td>
    <td>&nbsp;</td>
  </tr>

    {% endfor %}
</table>

</form>

{% endblock %}