<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
<table>
  <tr><th><p>Total fees:</p></th>
    <th><input name="" type="text" />
  </p></th></tr>
  <tr><th><p>Fees paid:</p></th><th><input name="" type="text" /></p></th></tr>
  <tr><th colspan="2"><p><input name="" type="button" value="Add" /></p></th></tr></table>
</form>
</body>
</html>
