{% extends 'admin_index.html'  %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="/myapp/adm_add_class/">
    {% csrf_token %}
    <centre>
<table class="table table-hover">
 <tr>
     <th> <p>Class name:</p></th>
   <th> <input name="txt_class" type="text" class="form-control" />
 </th></tr>
 <tr><th> <p>Syllabus:</p></th><th><select name="Select" class="form-control">
     <option>CBSE</option>
     <option>State Syllabus</option>
 </select></th>
 <tr><th colspan="2"> <p><input name="ADD" type="submit" value="ADD" class="btn btn-primary"/></p></th></tr>
  </table>
    </centre>
</form>
</body>
</html>
{% endblock %}