
{% extends 'admin_index.html'  %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">


 <p><a href="/myapp/adm_add_batch/">Add Batch</a></p>
 <p><a href="/myapp/adm_view_batch/">View Batch</a></p>

 <p><a href="/myapp/adm_add_fee_structure/">Add Fee Structure</a></p>
 <p><a href="/myapp/adm_view_fee_structure/">View Fee Structure</a></p>

 <p><a href="/myapp/adm_add_student/">Add Student</a></p>
 <p><a href="/myapp/adm_view_student/">View Student</a></p>

 <p><a href="/myapp/adm_add_subject/">Add Subject</a></p>
 <p><a href="/myapp/adm_view_subject/">View Subject</a></p>

 <p><a href="/myapp/adm_add_timetable/">Add Timetable</a></p>
 <p><a href="/myapp/adm_view_timetable/">View Timetable</a></p>

 <p><a href="/myapp/adm_add_tutor/">Add Tutor</a></p>
 <p><a href="/myapp/adm_view_tutor/">View Tutor</a></p>
    <p><a href="/myapp/adm_add_tutors_attendence/">Add Tutor attendence</a></p>
 <p><a href="/myapp/">View Tutor attendence</a></p>

 <p><a href="/myapp/adm_add_tutors_subject/">Add Tutor Subject</a></p>
 <p><a href="/myapp/adm_view_tutors_subject/">View Tutor Subject</a></p>

 <p><a href="/myapp/adm_add_tutors_salary/">Add Tutor Salary</a></p>
{# <p><a href="/myapp/adm_add_student/">View Tutor Salary</a></p>#}

 <p><a href="/myapp/adm_add_vacancy/">Add Vacancy</a></p>
 <p><a href="/myapp/adm_view_vacancy/">View Vacancy</a></p>

 <p><a href="/myapp/adm_view_attendence_of_tutors/">View Attendance of Tutors</a></p>

 <p><a href="/myapp/adm_view_complaint/">View Complaint</a></p>
 <p><a href="/myapp/adm_view_feedback/">View Feedback</a></p>

 <p><a href="/myapp/adm_view_leave_request/">View Leave request</a></p>
 <p><a href="/myapp/adm_view_monthly_fee_reports/">Monthly Fee reports</a></p>
 <p><a href="/myapp/adm_view_monthly_salary_reports/">Monthly salary reports</a></p>
 <p><a href="/myapp/adm_view_yearly_salary_reports/">Monthly Yearly reports</a></p>

</form>
</body>
{% endblock %}
