{% extends 'admin_index.html'  %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
<table width="444">
 <th width="98"> <p>Class
    <select name="">
    </select></p></th>
 
  <th width="149"><p>Batch<select name=""></select></p></th>
 <th width="160"><p> <input name="" type="button" value="search" /></p></th>
  </table>
 <p>&nbsp;</p>
 <table width="371" border="1">
  <tr>
    <th width="42" scope="col">Sl no</th>
    <th width="101" scope="col">Student name</th>
    <th width="83" scope="col">Total fees</th>
    <th width="117" scope="col">Pending</th>
  </tr>
</table>

   
</form>
</body>
</html>
{% endblock %}