{% extends 'admin_index.html'  %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/myapp/adm_update_tutor_post/">
    {% csrf_token %}
  <table border="2">
    <tr>
      <th><p>Tutorname:</p></th>
      <th> <input name="name" type="text" value="{{ data.tutorname }}" />
        <p></p></th>
    </tr>
    <tr>
      <th><p>Place:</p></th>
      <th> <input name="place" type="text" value="{{ data.place }}"/>
        <p></p></th>
    </tr>
     <tr>
      <th><p>Post:</p></th><th>
      <input name="post" type="text" value="{{ data.post }}" />
    </p></th></tr>
     <tr>
      <th><p>District:</p></th><th>
      <select name="district">
          <option>{{ data.district }}</option>

      </select>
    </p></th></tr>
     <tr>
      <th><p>Contact number:</p></th><th>





      <input name="contact" type="text" value="{{ data.contactno }}" />
    </p></th></tr>
     <tr>
      <th><p> Email:</p></th><th>
      <input name="email" type="text" value="{{ data.email }}"/>
    </p></th></tr>

     <tr>
      <th><p> Qualification:</p></th><th>
      <input name="qualification" type="checkbox" {% for i in degree %}{% if i == "DEGREE" %}checked{% endif %}{% endfor %} value="DEGREE" />DEGREE
      <input name="qualification" type="checkbox"  {% for i in degree %}{% if i == "PG" %}checked{% endif %}{% endfor %}  value="PG" />PG
    </p></th></tr>

     <tr>
      <th colspan="2"><input name="ADD" type="submit" value="Update" />
  </table>
</form>
</body>
</html>
{% endblock %}