{% extends 'admin_index.html'  %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/myapp/adm_update_class_post/">
{% csrf_token %}
<table border="2">
  <tr><th><p>Class name:</p></th><th><input name="class" type="text" value="{{ data.classname }}"/></th></tr>
  <tr><th><p>Syllabus:</p></th><th><select name="syllabus">
      {% for i in res %}
          <option value="{{ i.pk }}">{{ i.syllabus }}</option>
      {% endfor %}
  </select></th></tr>
  <tr><th colspan="2"><p><input name="" type="submit" value="UPDATE" /></p>
  </th></tr></table>
</form>
</body>
</html>
{% endblock %}