{% extends 'admin_index.html'  %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form id="form1" name="form1" method="post" action="">
<table border="2">
  <tr><th><p>Student name:</p></th><th>
    <input name="" type="text" />
  </p></th></tr>
   <tr><th><p>Place:</th><th><input name="" type="text" /></p></th></tr>
   <tr><th><p>Post:</th><th><input name="" type="text" /></p></th></tr>
   <tr><th><p>Pin:</th><th><input name="" type="text" /></p></th></tr>
   <tr><th><p>Gender:</th><th><input name="" type="radio" value="Male" /><input name="" type="radio" value="Female" /></p></th></tr>
  <tr><th> <p>District:</th><th><select name=""></select></p></th></tr>
   <tr><th><p>DOB:</th><th><input name="" type="text" /></p></th></tr>
   <tr><th><P>Contact number:</th><th><input name="" type="text" /></P></th></tr>
   <tr><th><p>Email:</th><th><input name="" type="text" /></p></th></tr>
   <tr><th><p>Parent name:</th><th><input name="" type="text" /></p></th></tr>
   <tr><th><p>Relationship:</th><th><input name="" type="text" /></p></th></tr>
   <tr><th><p>Parent phone number:</th><th><input name="" type="text" /></p></th></tr>
   <tr><th><p>Parent email id:</th><th><input name="" type="text" /></p></th></tr>
   <tr><th><p>Class name:</p></th><th><select name=""></select></p></th></tr>
   <tr><th><p>Batch:</th><th><select name=""></select></p></th></tr>
   <tr><th><p>Photo:</p></th><th><input name="" type="file" /></th></tr>
   <tr><th colspan="2"><p><input name="" type="button" value="Update" /></p></th></tr>
  </table>
</form>
</body>
</html>
{% endblock %}