{% extends 'admin_index.html'  %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
<table width="392" >
  <tr>
    <th width="178" scope="col">Class name:<select name=""></select></th>
    <th width="198" scope="col">Batch:<select name=""></select></th>
  </tr>
</table>

<table>
    <tr>
        <td>Day</td>
        <td>
    		<table width="200" border="1">
  <caption>Slot</caption>
  <tr>
    <th width="37" scope="col">&nbsp;</th>
    <th width="50" scope="col">&nbsp;</th>
    <th width="42" scope="col">&nbsp;</th>
    <th width="43" scope="col">&nbsp;</th>
  </tr>
  <tr>
    <td>
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>

    	</td>
    </tr>
</table>
  

</form>
</body>
</html>
{% endblock %}