{% extends 'admin_index.html'  %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/myapp/adm_search_fee_structure_post/">
{% csrf_token %}
{#  Class:#}
{#    <select name="class">#}
{#          {% for i in res2 %}#}
{#              <option value="{{ i.pk }}">{{ i.classname }}</option>#}
{#          {% endfor %}#}
{##}
{#    </select>#}
    
    &nbsp;

Batch:
    <select name="sss">
         {% for i in res1 %}
              <option value="{{ i.pk }}">{{ i.batchname }}</option>
          {% endfor %}
    </select>

    &nbsp;&nbsp;<input name="batch" type="submit" value="search" />
</p>
  <table width="200" border="1">
    <tr>
      <th scope="col">Sl no</th>
      <th scope="col">Class</th>
      <th scope="col">Batch</th>


      <th scope="col">Fees</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
      {% for i in res3 %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>{{ i.BATCH.batchname }}</td>
      <td>{{ i.BATCH.CLASS.classname }}</td>
      <td>{{ i.fees }}&nbsp;</td>
      <td><a class="btn btn-primary" href="/myapp/adm_update_fee_structure/{{ i.pk }}">Edit</a> &nbsp;</td>
      <td><a class="btn btn-primary" href="/myapp/adm_view_fee_structure_del/{{ i.pk }}">Delete</a> &nbsp;</td>
    </tr>

      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}