{% extends 'admin_index.html'  %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
<table width="200" border="1">
  <tr>
    <th scope="col">Sl no</th>

    <th scope="col">Subject</th>
    <th scope="col">Total no.of vaccancy</th>
    <th scope="col">Other info</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
    {% for i in res %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.SUBJECT.subject }}</td>
    <td>&nbsp;{{ i.totalnoofvaccancy }}</td>
    <td>{{ i.otherinfo }}</td>
    <td><a href="/myapp/adm_update_vacancy/{{ i.pk }}">Edit</a></td>
    <td>&nbsp;<a href="/myapp/adm_view_vacancy_del/{{ i.pk }}">Delete</a> </td>
  </tr>
    {% endfor %}
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>

</form>
</body>
</html>
{% endblock %}