{% extends 'admin_index.html'  %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
<centre>
<p>Class name:
  <input name="" type="text" />
  <input name="" type="button" value="Search" />
</p>
<p>&nbsp; </p>
<table width="200" border="1">
  <tr>
    <th scope="col">Sl no</th>
    <th scope="col">Class name</th>
    <th scope="col">Syllabus</th>
      <th scope="col">Edit</th>
      <th scope="col">DELETE</th>
  </tr>
    {% for i in res %}
  <tr>
    <td>{{ forloop.counter }}&nbsp;</td>
    <td>{{ i.classname }}&nbsp;</td>
    <td>&nbsp;{{ i.syllabus }}</td>
    <td>&nbsp;<a href="/myapp/adm_update_class/{{ i.pk }}">Edit</a></td>
  <td><a href="/myapp/adm_view_class_del/{{ i.pk }}">DELETE</a></td>
  </tr>
    {% endfor %}
</table>
</centre>
</form>
</body>
</html>
{% endblock %}